echo '
      ___           ___                       ___       ___           ___           ___
     /\  \         /\__\          ___        /\__\     /\  \         /\  \         /\  \
    /::\  \       /:/  /         /\  \      /:/  /    /::\  \       /::\  \       /::\  \
   /:/\:\  \     /:/  /          \:\  \    /:/  /    /:/\:\  \     /:/\:\  \     /:/\:\  \
  /::\~\:\__\   /:/  /  ___      /::\__\  /:/  /    /:/  \:\__\   /::\~\:\  \   /::\~\:\  \
 /:/\:\ \:|__| /:/__/  /\__\  __/:/\/__/ /:/__/    /:/__/ \:|__| /:/\:\ \:\__\ /:/\:\ \:\__\
 \:\~\:\/:/  / \:\  \ /:/  / /\/:/  /    \:\  \    \:\  \ /:/  / \:\~\:\ \/__/ \/_|::\/:/  /
  \:\ \::/  /   \:\  /:/  /  \::/__/      \:\  \    \:\  /:/  /   \:\ \:\__\      |:|::/  /
   \:\/:/  /     \:\/:/  /    \:\__\       \:\  \    \:\/:/  /     \:\ \/__/      |:|\/__/
    \::/__/       \::/  /      \/__/        \:\__\    \::/__/       \:\__\        |:|  |
     ~~            \/__/                     \/__/     ~~            \/__/         \|__|

'

# Example: export_alias zz "ls -la"
export_alias() {
    local name=$1
    shift
    local alias_dir=$(pwd)/.direnv/aliases
    local target="$alias_dir/$name"
    mkdir -p "$alias_dir"
    PATH_add "$alias_dir"
    echo "#!/usr/bin/env bash" > "$target"
    echo "$@" >> "$target"
    chmod +x "$target"
}

source .env.dist

if [ -f ".env" ]; then
    echo "Loading environment configuration (.env) file ..."
    source .env
else
    echo "No environment configuration (.env) file found. Using default configuration."
fi
